/* Destination Section */
.destinations {
  margin-top: 240px;
}
.destinations h3 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
}
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-family: "Inter", sans-serif;
  color: #7d7d7d;
  margin-top: 77px;
}
.arrow span:first-child {
  font-size: 32px;
  font-weight: 600;
  color: #262626;
}
.arrow span:last-child {
  font-size: 16px;
  font-weight: 500;
}

/* Destinations Card */
.cardGroup {
  display: flex;
  gap: 20px;
}
.card {
  width: 360px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px -0.27479px 2.74791px 0px rgba(0, 0, 0, 0.02),
    0px -0.69497px 6.94968px 0px rgba(0, 0, 0, 0.03),
    0px -1.41767px 14.1767px 0px rgba(0, 0, 0, 0.04),
    0px -2.92013px 29.20132px 0px rgba(0, 0, 0, 0.05),
    0px -8px 80px 0px rgba(0, 0, 0, 0.07);
}
.card img {
  width: 100%;
  height: auto;
}
.cardInfo {
  font-family: "Roboto", sans-serif;
  padding: 25px;
}
.cardInfo h4 {
  font-size: 28px;
  font-weight: 900;
}
.cardInfo div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
}
.cardInfo p {
  font-size: 14px;
  font-weight: 500;
}
.cardInfo button {
  border: none;
  border-radius: 50px;
  background: #f2f2f2;
  font-size: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
